{% extends "base.html.twig" %}

{% block title %}{{ artist.name }} - MusicApp{% endblock %}

{% block body %}

<div class="track">
    <div class="track-header">

        <div class="track-details">
            <h2 class="track-title">{{ artist.name }}</h2>
        </div>

        {% if artist.pictureLink %}
            <img src="{{ artist.pictureLink }}" alt="Album cover" class="track-img">
        {% else %}
            <img src="" alt="No album cover available" class="track-img">
        {% endif %}
        
    </div>
    
    <div class="track-info">
            <p class="track-duration">{{ artist.followers }} followers</p>
    </div>

    <a href="{{ artist.spotifyUrl }}" target="_blank" class="track-link">Listen on Spotify</a>
</div>
{% endblock %}
